*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Box{
    background-color: rgb(143, 206, 143);
    height: 260px;
    width: 520px;
    display: flex;
    border: solid black;
}
.row{
       
}
.Box-1{
    border: solid;  
    width: 130px;
    height: 110px;

}
.Box-2{
      border: solid;
      width: 130px;
      height: 150px;
}
.row-1{

}
.Box-3{
    width: 130px;
    height: 150px;
    border: solid  ;
}
.Box-4{
    width: 130px;
    height: 110px;
    border:solid;
    position: absolute;    
}
.row-2{

}
.Box-5{
    width: 130px;
    height: 50px;
    border: solid ;
}
.Box-6{
    width: 130px;
    height: 210px;
    border: solid;
}
.row-3{

}
.Box-7{
    width: 130px;
    height: 180px;
    border: solid;
    
}
.Box-8{
    width: 130px;
    height: 80px;
    border: solid;
}


