*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: gray;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;   
}

.box-1{
    flex: 2;
    height: 250px;
    background-color: red;
}
.box-2{
    height: 350px;
    background-color: yellowgreen;
    flex: 1;
}
.row{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.box-3{
    height: 180px;
    background-color: rgb(236, 137, 236);
}
.col{
    display: flex;
    gap: 10px;
}
.box-4a{
    background-color: rgb(145, 145, 204);
    height: 120px;
    flex: 1;
}
.box-4b{
    background-color: rgb(142, 142, 207);
    height: 120px;
    flex: 1;
}